<nz-layout style="height: 95vh;">
  <nz-header class="template-header">
    <span class="template-name">{{ templateName }}</span>
    <button nz-button nzType="primary" (click)="saveTemplate()">保存</button>
  </nz-header>
  <nz-layout>
    <!-- 左侧面板 -->
    <nz-sider class="sider" [nzWidth]="400" [nzCollapsedWidth]="120" [(nzCollapsed)]="showLeftPanel" [nzTrigger]="null">
      <div class="component-title">
        <span>组件</span>
        <i class="trigger" nz-icon [nzType]="showLeftPanel ? 'menu-unfold' : 'menu-fold'"
          (click)="showLeftPanel = !showLeftPanel"></i>
      </div>
      <nz-collapse nzExpandIconPosition="right" *ngIf="!showLeftPanel">
        <nz-collapse-panel nzHeader="布局组件" nzActive="true">
          <div
            id="container-component-list" 
            class="component-group" 
            cdkDropList 
            [cdkDropListConnectedTo]="allCanvasDropListIds"
            [cdkDropListData]="containerComponents"
          >
            <div 
              *ngFor="let comp of containerComponents" 
              cdkDrag 
              [cdkDragData]="comp.type" 
              class="component-item"
              (click)="addComponentToCanvas(comp.type)"
            >
              <img class="component-icon" src="assets/template/{{ comp.type }}.png" alt="{{ comp.name }}" />
              <img class="component-icon" *cdkDragPreview src="assets/template/{{ comp.type }}.png" alt="{{ comp.name }}" />
              <span>{{ comp.name }}</span>
            </div>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="基础组件" nzActive="true">
          <div
            id="primitive-component-list" 
            class="component-group" 
            cdkDropList 
            [cdkDropListConnectedTo]="allCanvasDropListIds"
            [cdkDropListData]="primitiveComponents"
          >
            <div 
              *ngFor="let comp of primitiveComponents"
              cdkDrag [cdkDragData]="comp.type"
              class="component-item"
              (click)="addComponentToCanvas(comp.type)"
            >
              <img class="component-icon" src="assets/template/{{ comp.type }}.png" alt="{{ comp.name }}" />
              <img class="component-icon" *cdkDragPreview src="assets/template/{{ comp.type }}.png" alt="{{ comp.name }}" />
              <span>{{ comp.name }}</span>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-sider>

    <!-- 中间画布 -->
    <nz-content class="canvas-content">
      <div
        class="canvas-wrapper"
        id="canvas-root-drop-list"
        cdkDropList
        [cdkDropListData]="rootNode?.children"
        [cdkDropListConnectedTo]="allCanvasDropListIds"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListDisabled]="!!rootNode"
      >
  
        <ng-container *ngIf="rootNode">
          <app-root-component
            [node]="rootNode!"
            [selectedComponentId]="selectedComponent?.id"
            (selectComponent)="onSelectComponent($event)"
            (addComponent)="onAddComponent($event)"
            (dropEvent)="onDrop($event)"
            [allCanvasDropListIds]="allCanvasDropListIds"
          ></app-root-component>
        </ng-container>
        <div *ngIf="!rootNode" class="empty-canvas-placeholder">
          <p>从左侧拖拽组件到此处开始创建卡片</p>
          <p><img class="component-icon" src="assets/template/nodata.png" alt="暂无数据" /></p>
        </div>
      </div>
    </nz-content>

    <!-- 右侧面板 -->
    <nz-sider class="properties-panel" [nzWidth]="400" [nzCollapsedWidth]="120" nzCollapsible nzReverseArrow
      [(nzCollapsed)]="showRightPanel" [nzTrigger]="null">
      <div class="component-title">
        <span>基础配置</span>
        <i class="trigger" nz-icon [nzType]="showRightPanel ? 'menu-unfold' : 'menu-fold'"
          (click)="showRightPanel = !showRightPanel"></i>
      </div>
      <ng-container>
        <p *ngIf="!selectedComponent" class="text-gray-500 text-center py-8">选择元素查看相关配置</p>
        <ng-container *ngIf="selectedComponent">
          <div [ngSwitch]="selectedComponent.type">
            <!-- 如果 selectedComponent.type 是 'image'，展示 app-image-config -->
            <app-background-config
              *ngSwitchCase="'ROOT'"
              [properties]="selectedComponent.props"
              (propertiesChange)="handleRootConfigChange($event)"
            ></app-background-config>

            <app-slot-config
              *ngSwitchCase="'SLOT'"
              [properties]="selectedComponent.props"
              (configChange)="handleSlotConfigChange($event)"
            ></app-slot-config>

            <app-layout-config
              *ngSwitchCase="'SINGLE_COLUMN'"
              [initialSlotCount]="1"
              [initialLayoutConfig]="selectedComponent.props"
              [maxSlots]="8"
              (configChange)="handleLayoutConfigChange($event, selectedComponent.id)"
            ></app-layout-config>

            <app-layout-config
              *ngSwitchCase="'MULTI_COLUMN'"
              [initialSlotCount]="3"
              [initialLayoutConfig]="selectedComponent.props"
              [maxSlots]="8"
              (configChange)="handleLayoutConfigChange($event, selectedComponent.id)"
            ></app-layout-config>

            <app-layout-config
              *ngSwitchCase="'HORIZONTAL'"
              [initialSlotCount]="3"
              [initialLayoutConfig]="selectedComponent.props"
              [maxSlots]="20"
              (configChange)="handleLayoutConfigChange($event)"
            ></app-layout-config>

            <app-layout-config
              *ngSwitchCase="'LIST'"
              [initialSlotCount]="3"
              [initialLayoutConfig]="selectedComponent.props"
              [maxSlots]="8"
              (configChange)="handleLayoutConfigChange($event)"
            ></app-layout-config>
      
            <app-image-config
              *ngSwitchCase="'IMAGE'"
              [initialImageConfig]="selectedComponent.props"
              (configChange)="handleImageConfigChange($event)"
            ></app-image-config>

            <app-button-config
              *ngSwitchCase="'BUTTON'"
              [initialButtonConfig]="selectedComponent.props"
              (configChange)="handleButtonConfigChange($event)"
            ></app-button-config>

            <app-content-config
              *ngSwitchCase="'CONTENT'"
              [initialContentConfig]="selectedComponent.props"
              (configChange)="handleButtonConfigChange($event)"
            ></app-content-config>

            <app-title-config
              *ngSwitchCase="'TITLE'"
              [properties]="selectedComponent.props"
              (configChange)="handleButtonConfigChange($event)"
            ></app-title-config>

            <app-divider-config
              *ngSwitchCase="'DIVIDER'"
              [initialDividerConfig]="selectedComponent.props"
              (configChange)="handleButtonConfigChange($event)"
            ></app-divider-config>
      
            <p *ngSwitchDefault class="text-gray-500 text-center py-8">选择元素查看相关配置</p>
          </div>
        </ng-container>
      </ng-container>
    </nz-sider>
  </nz-layout>

</nz-layout>