<div class="background-config-container p-4 rounded-lg shadow-sm">


  <div class="config-label">线条颜色</div>

  <div class="config-container">
    <app-color-picker [currentColor]="color" (colorChange)="onColorChange($event)"></app-color-picker>
  </div>

  <div class="config-label">上边距</div>

  <div class="config-container">
    <nz-select [(ngModel)]="paddingTop" (ngModelChange)="onPaddingTopChange($event)" class="flex-1 rounded-md">
      <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>

  <div class="config-label">下边距</div>

  <div class="config-container">
    <nz-select [(ngModel)]="paddingBottom" (ngModelChange)="onPaddingBottomChange($event)" class="flex-1 rounded-md">
      <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>

  <div class="config-label">线型</div>

  <div class="config-container">
    <nz-select [(ngModel)]="lineType" (ngModelChange)="onTypeChange($event)" class="flex-1 rounded-md">
      <nz-option *ngFor="let option of typeOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>
</div>