<div class="layout-config-container p-4 rounded-lg shadow-sm">
  <!-- 基础配置标题 -->
  <div class="config-label">
    槽位数量
    <div class="add-alot-button">
      <button nz-button nzType="link" (click)="addSlot()" [disabled]="slots.length >= maxSlots">
        <i nz-icon nzType="plus" nzTheme="outline"></i> 添加槽位
      </button>
    </div>
  </div>

  <!-- 槽位数量设置部分 -->
  <div class="config-container">
    <!-- 槽位列表 -->
    <ul nz-list [nzDataSource]="slots" nzBordered>
      <ng-template nzNoResult></ng-template>
      <li nz-list-item *ngFor="let item of slots" nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button nz-button *ngIf="slots.length > 1" nzType="text" nzDanger (click)="deleteSlot(item)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </nz-list-item-action>
        </ul>
        {{ item.name }}
      </li>
    </ul>
  </div>

  <!-- 背景设置部分 (与 background-config 组件类似) -->

    <div class="config-label">背景</div>

    <div class="config-container">
      <nz-radio-group [(ngModel)]="selectedOption" (ngModelChange)="onOptionChange($event)" nzButtonStyle="solid" class="flex justify-center mb-6">
        <label nz-radio-button nzValue="transparent" class="flex-1 text-center py-2 rounded-l-md">透明</label>
        <label nz-radio-button nzValue="color" class="flex-1 text-center py-2 rounded-r-md">颜色</label>
      </nz-radio-group>
    </div>

    <ng-container *ngIf="selectedOption === 'color'">
      <div class="config-container">
        <div class="config-label">请选择颜色</div>
        <div class="flex items-center justify-center">
          <app-color-picker [currentColor]="currentColor" (colorChange)="onColorChange($event)"></app-color-picker>
        </div>
      </div>
    </ng-container>

    <div class="config-label">行间距</div>
    <div class="config-container">
      <nz-select [(ngModel)]="currentRowGap" (ngModelChange)="onLineHeightChange($event)" class="flex-1 rounded-md" name="lineHeight">
        <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </div>

    <div class="config-label">内边距</div>
    <div class="config-container">
      <nz-select [(ngModel)]="currentPadding" (ngModelChange)="onPaddingChange($event)" class="flex-1 rounded-md" name="padding">
        <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </div>

    <div class="config-label">圆角</div>
    <div class="config-container">
      <nz-select [(ngModel)]="currentBorderRadius" (ngModelChange)="onBorderRadiusChange($event)" class="flex-1 rounded-md" name="borderRadius">
        <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </div>
</div>