<div class="background-config-container p-4 rounded-lg shadow-sm">

  <div class="config-label">颜色</div>


  <div class="config-container">
    <app-color-picker [currentColor]="fontColor" (colorChange)="onColorChange($event)"></app-color-picker>
  </div>


  <div class="config-label">对齐</div>

  <div class="config-container">
    <nz-radio-group 
      [(ngModel)]="align" 
      (ngModelChange)="onAlignChange($event)"
      nzButtonStyle="solid" 
      class="flex justify-center mb-6" 
    >
      <label nz-radio-button nzValue="left" class="flex-1 text-center py-2 rounded-l-md">left</label>
      <label nz-radio-button nzValue="center" class="flex-1 text-center py-2 rounded-r-md">center</label>
      <label nz-radio-button nzValue="right" class="flex-1 text-center py-2 rounded-r-md">right</label>
    </nz-radio-group>
  </div>

</div>