.single-column-component {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: border 0.2s ease-in-out;
  position: relative;

  &:hover {
    border: 1px dashed #4E6FFF;
  }

  &.selected {
    border: 2px solid #4E6FFF;
  }
}