<div class="single-column-component"
     [ngStyle]="{
       'background-color': singleColumnProps.backgroundColor,
       'padding': singleColumnProps.padding,
       'gap': singleColumnProps.rowGap,
       'border-radius': singleColumnProps.borderRadius
     }"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)"
     cdkDrag
     [id]="node!.id"
     [cdkDragData]="node"
     (cdkDropListDropped)="onSingleColumnDrop($event)"
>
  <ng-container *ngIf="slotChildren.length > 0">
      <ng-container *ngFor="let slot of slotChildren">
        <app-component-renderer
          [node]="slot"
          [selectedComponentId]="selectedComponentId"
          (selectComponent)="selectComponent.emit($event)"
          (dropEvent)="onSingleColumnDrop($event)" 
          [allCanvasDropListIds]="allCanvasDropListIds"
        ></app-component-renderer>
      </ng-container>
  </ng-container>
</div>