<div class="background-config-container p-4 rounded-lg shadow-sm">
  <!-- 背景标题 -->
  <div class="config-label">水平对齐</div>

  <!-- 卡片式 Radio 组 -->
  <div class="config-container">
    <nz-radio-group 
      [(ngModel)]="justifyContent" 
      (ngModelChange)="onJustifyChange($event)"
      nzButtonStyle="solid" 
      class="flex justify-center mb-6" 
    >
      <label nz-radio-button nzValue="flex-start" class="flex-1 text-center py-2 rounded-l-md">flex-start</label>
      <label nz-radio-button nzValue="center" class="flex-1 text-center py-2 rounded-r-md">center</label>
      <label nz-radio-button nzValue="flex-end" class="flex-1 text-center py-2 rounded-r-md">flex-end</label>
    </nz-radio-group>
  </div>

  <div class="config-label">垂直对齐</div>

  <div class="config-container">
    <nz-radio-group 
      [(ngModel)]="alignItems" 
      (ngModelChange)="onAlignChange($event)"
      nzButtonStyle="solid" 
      class="flex justify-center mb-6" 
    >
      <label nz-radio-button nzValue="flex-start" class="flex-1 text-center py-2 rounded-l-md">flex-start</label>
      <label nz-radio-button nzValue="center" class="flex-1 text-center py-2 rounded-r-md">center</label>
      <label nz-radio-button nzValue="flex-end" class="flex-1 text-center py-2 rounded-r-md">flex-end</label>
    </nz-radio-group>
  </div>

  <div class="config-label">行间距</div>
    <div class="config-container">
    <nz-select [(ngModel)]="currentLineHeight" (ngModelChange)="onLineHeightChange($event)" class="flex-1 rounded-md" name="lineHeight">
      <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>

  <div class="config-label">内边距</div>
    <div class="config-container">
      <nz-select [(ngModel)]="currentPadding" (ngModelChange)="onPaddingChange($event)" class="flex-1 rounded-md" name="padding">
        <nz-option *ngFor="let option of spacingOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
    </div>
</div>