.content-component {
  width: 100%;
  box-sizing: border-box;
  background-color: #E8E9F1;
  padding: 8px;
  border: 1px dashed transparent;
  border-radius: 8px 8px 8px 8px;
  transition: border 0.2s ease-in-out;
  position: relative;
  flex: 1;

  &:hover {
    border: 1px dashed #4E6FFF;
  }

  &.selected {
    border: 2px solid #4E6FFF;
  }


  .content-text {
    line-height: 1.5;
    word-wrap: break-word; // 防止长单词溢出
    white-space: pre-wrap; // 保留空格和换行符
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}