<div class="list-component-wrapper"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)"
     [ngStyle]="{
       'background-color': listProps.backgroundColor,
       'padding': listProps.padding,
       'border-radius': listProps.borderRadius
     }"
     cdkDrag
     [id]="node!.id"
     [cdkDragData]="node"
     cdkDropList
     [cdkDropListData]="node!.children"
     [cdkDropListConnectedTo]="allCanvasDropListIds"
     (cdkDropListDropped)="onListDrop($event)"
>
  <div class="list-slots-container"
       [ngStyle]="{ 'gap': listProps.rowGap }">
    <ng-container *ngIf="node.children && node.children.length > 0;">
      <ng-container *ngFor="let childNode of node.children">
        <app-component-renderer
          *ngIf="childNode.type === componentTypes.SLOT"
          [node]="childNode"
          [selectedComponentId]="selectedComponentId"
          (selectComponent)="onChildSelect($event)"
          (dropEvent)="onListDrop($event)"
          [allCanvasDropListIds]="allCanvasDropListIds">
        </app-component-renderer>
      </ng-container>
    </ng-container>
  </div>
</div>