<div class="list-component-wrapper"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)"
     [ngStyle]="{
       'background-color': listProps.backgroundColor,
       'padding': listProps.padding,
       'border-radius': listProps.borderRadius,
       'gap': listProps.rowGap
     }"
     cdkDrag
     [id]="node!.id"
     [cdkDragData]="node"
     (cdkDropListDropped)="onListDrop($event)"
>
<ng-container *ngIf="slotChildren.length > 0;">
  <ng-container *ngFor="let slot of slotChildren">
      <app-component-renderer
        *ngIf="slot.type === componentTypes.SLOT"
        [node]="slot"
        [selectedComponentId]="selectedComponentId"
        (selectComponent)="selectComponent.emit($event)"
        (dropEvent)="onListDrop($event)"
        [allCanvasDropListIds]="allCanvasDropListIds"
      >
      </app-component-renderer>
    </ng-container>
  </ng-container>
</div>