.divider-component-wrapper {
  box-sizing: border-box;
  border: 1px dashed transparent;
  transition: border 0.2s ease-in-out;
  position: relative;

  &:hover {
    border-color: #4E6FFF;
  }

  &.selected {
    border: 1px dashed #4E6FFF;
  }

  .divider-line {
    width: 100%;
    border-top-width: 2px; // 线条粗细
  }
}