.root-component {
  height: 100%; 
  border: 1px dashed transparent;
  transition: border 0.2s ease-in-out; 
  display: flex;
  flex-direction: column;

  &.selected {
    border: 1px dashed rgba(0, 100, 250, 1);
  }
}