<div class="root-component"
     [ngStyle]="{
       'background-color': rootProps.backgroundColor,
       'padding': rootProps.padding,
       'gap': rootProps.rowGap
     }"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)">
  <ng-container *ngIf="node?.children && node?.children?.length > 0">
    <ng-container *ngFor="let child of node?.children">
      <app-component-renderer
        [node]="child"
        [selectedComponentId]="selectedComponentId"
        (selectComponent)="selectComponent.emit($event)">
      </app-component-renderer>
    </ng-container>
  </ng-container>
</div>