.slot-component-wrapper {
  min-height: 40px;
  border: 1px dashed #cccccc; 
  background-color: #E8E9F1;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  flex: 1;
  box-sizing: border-box;
}