<nz-select
  [(ngModel)]="selectedColor"
  [(nzOpen)]="isDropdownOpen"
  nzAllowClear
  [nzDropdownMatchSelectWidth]="false"
  nzDropdownClassName="color-picker-dropdown"
  [nzDropdownRender]="renderCustomDropdown"
>
  <nz-option nzValue="" nzLabel="" style="display: none;"></nz-option>

  <ng-template #nzCustomTemplate>
    <div class="selected-color-display">
      <span class="color-square" [style.background-color]="selectedColor"></span>
      <span class="color-name">{{ colorName || '请选择颜色' }}</span>
    </div>
  </ng-template>

  <!-- 自定义下拉模板 -->
  <ng-template #renderCustomDropdown>
    <div class="color-row" *ngFor="let row of colors"> 
      <div class="color-block-grid" *ngFor="let color of row">
        <div class="color-block-option" (click)="onColorSelect(color.value)">
          <span class="color-block-grid" [style.background-color]="color.value"></span>
        </div>
      </div>
    </div>
  </ng-template>

</nz-select>
