<div class="horizontal-component"
     [ngStyle]="{
       'background-color': horizontalProps.backgroundColor,
       'padding': horizontalProps.padding,
       'border-radius': horizontalProps.borderRadius
     }"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)"
     cdkDrag
     [id]="node!.id"
     [cdkDragData]="node"
     cdkDropList
     [cdkDropListData]="node!.children"
     [cdkDropListConnectedTo]="allCanvasDropListIds"
     (cdkDropListDropped)="onHorizontalDrop($event)"
>
  <ng-container *ngIf="slotChildren.length > 0;">
      <ng-container *ngFor="let slot of slotChildren">
        <app-component-renderer
          *ngIf="slot.type === componentTypes.SLOT"
          [node]="slot"
          [selectedComponentId]="selectedComponentId"
          (selectComponent)="selectComponent.emit($event)"
          (dropEvent)="onHorizontalDrop($event)"
          [allCanvasDropListIds]="allCanvasDropListIds">
        </app-component-renderer>
      </ng-container>
  </ng-container>
</div>