<div class="horizontal-component"
     [ngStyle]="{
       'background-color': horizontalProps.backgroundColor,
       'padding': horizontalProps.padding,
       'border-radius': horizontalProps.borderRadius
     }"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)">

  <div class="component-actions" *ngIf="isSelected(node)">
    <span class="component-name">{{ node.name }}</span>
  </div>

  <ng-container *ngIf="slotChildren.length > 0;">
    <div class="horizontal-slots-container">
      <ng-container *ngFor="let slot of slotChildren">
        <app-component-renderer
          *ngIf="slot.type === componentTypes.SLOT"
          [componentNode]="slot"
          [selectedComponentId]="selectedComponentId"
          (selectComponent)="selectComponent.emit($event)">
        </app-component-renderer>
      </ng-container>
    </div>
  </ng-container>
</div>