.horizontal-component {
  box-sizing: border-box;
  border: 1px dashed transparent;
  transition: border 0.2s ease-in-out;
  position: relative;

  display: flex;
  justify-content: space-between;
  overflow-x: scroll;

  &:hover {
    border-color: #4E6FFF; // 鼠标悬停时显示虚线边框
  }

  &.selected {
    border: 1px dashed #4E6FFF; // 选中时显示边框
  }

}