.button-component-wrapper {
  width: fit-content;
  box-sizing: border-box;
  padding: 4px;
  transition: border 0.2s ease-in-out;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-radius: 8px 8px 8px 8px;
    border: 1px dashed #4E6FFF;
  }

  &.selected {
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #4E6FFF;
  }

  .custom-button {
    padding: 0 8px;
    height: auto;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}