.image-component-wrapper {
  padding: 4px;
  max-width: 100%;
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover {
    border: 1px dashed #4E6FFF;
  }

  &.selected {
    border: 2px solid #4E6FFF;
  }

  .image-container {
    display: flex;
    align-items: center;
    position: relative;    
    img {
      display: block;
    }
  }
}