<div class="multi-column-component"
     [ngStyle]="{
       'background-color': multiColumnProps.backgroundColor,
       'padding': multiColumnProps.padding,
       'gap': multiColumnProps.rowGap,
       'border-radius': multiColumnProps.borderRadius
     }"
     [ngClass]="{ 'selected': isSelected(node) }"
     (click)="onComponentClick($event, node)"
     cdkDrag
     [id]="node!.id"
     [cdkDragData]="node"
     cdkDropList
     [cdkDropListData]="node!.children"
     [cdkDropListConnectedTo]="allCanvasDropListIds"
     (cdkDropListDropped)="onMultiColumnDrop($event)"
>

  <ng-container *ngIf="slotChildren.length > 0;">
      <ng-container *ngFor="let slot of slotChildren">
        <app-component-renderer
          *ngIf="slot.type === componentTypes.SLOT"
          [node]="slot"
          [selectedComponentId]="selectedComponentId"
          (selectComponent)="selectComponent.emit($event)"
          (dropEvent)="onMultiColumnDrop($event)"
          [allCanvasDropListIds]="allCanvasDropListIds">
        </app-component-renderer>
      </ng-container>
  </ng-container>
</div>